body {
        font-family: Arial, sans-serif;
        background-color:rgb(132, 167, 233);
    }

    h1 {
        color: navy;
        text-align: center;
    }
    h2{
        text-align: center;
    }
    p {
        font-family:fantasy;
        text-align: center;
        color: rgb(100, 24, 11);
    }